# Backend Server (Flask)
flask
flask-cors
gunicorn  
# Data Processing & Machine Learning (Dùng chung cho cả App và Notebook)
numpy
pandas
scikit-learn
joblib
scipy
Pillow

# Visualization & Research (Notebook) 
matplotlib
seaborn
jupyter
notebook